<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Map</title>
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin="" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/map.css">
</head>

<body onload="getData();">
    <div class="shadow"></div>
    <div id="addFriendWindow" class="container text-center">
        <p class="window-header">新增好友
            <img src="../icon/close.png" class="close-img" onclick="addFriend('close');">
        </p>
        <input type="text" class="form-control" placeholder="輸入好友帳號" id="friend-request-input">
        <button class="btn btn-primary" id="friend-request-btn" onclick="sendFriendRequest();">送出好友邀請</button>
        <p class="request-error-msg"></p>
        <p class="request-success-msg">送出成功，等待好友回覆...</p>
    </div>
    <div class="call-div">
        <video id="myVideo" autoplay playsinline muted></video>
        <canvas id="myCvs"></canvas>
        <video id="remoteVideo" autoplay playsinline></video>
        <canvas id="remoteCvs"></canvas>
        <div class="call-control-div">
            <img src="../icon/blur.png" id="blurBackgroungBtn" class="call-control-img" onclick="blurBackground();">
            <img src="../icon/no-sound.png" id="muteAudioBtn" class="call-control-img" onclick="muteCall('audio');">
            <img src="../icon/no-video.png" id="muteVideoBtn" class="call-control-img" onclick="muteCall('video');">
            <img src="../icon/hangup-call.png" id="endCallBtn" class="call-control-img" onclick="endCall();">
        </div>
    </div>
    <div class="text-center incoming-call-div">
        <img class="incoming-friend-pic">
        <span class="incoming-friend-name"></span>
        <img src="../icon/pickup-call.png" class="incoming-call-img" onclick="responseCall(this,'pickup');">
        <img src="../icon/hangup-call.png" class="incoming-call-img" onclick="responseCall(this,'hangup');">
    </div>
    <div class="container text-center end-call-hint">
        <p class="window-header">
            <span id="end-call-msg" class="window-header"></span>
            <img src="../icon/close.png" class="close-img" onclick="addFriend('close');">
        </p>
    </div>
    <div class="container text-center member-data">
        <p class="window-header">修改會員資料
            <img src="../icon/close.png" class="close-img" onclick="addFriend('close');">
        </p>
        <img class="member-data-pic">
        <label class="btn btn-primary mx-auto d-block" id="memberDataPicLabel">上傳新頭貼
            <input type="file" accept="image/*" name="profile" id="memberDataPicInput"
                onchange="handleFiles(this.files)">
        </label>
        <div>
            <p class="member-data-name"></p>
            <input type="text" class="form-control" placeholder="輸入新的使用者名稱" id="change-name-input">
        </div>
        <button class="btn btn-primary" id="change-name-btn" onclick="changeMemberData()">確認更改</button>
        <p class="request-error-msg memberdata-error-msg"></p>
        <p class="request-success-msg memberdata-success-msg"></p>
    </div>
    <div class="container text-center broadcast-window">
        <p class="window-header">發送廣播訊息
            <img src="../icon/close.png" class="close-img" onclick="addFriend('close');">
        </p>
        <div class="mb-3">
            <span class="broadcast-span">廣播給方圓</span>
            <input type="number" min="1" class="form-control" placeholder="0" id="broadcast-meter-input">
            <span class="broadcast-span">公里內的好友</span>
        </div>
        <textarea class="broadcast-msg-input"></textarea>
        <button class="btn btn-primary" id="broadcast-msg-btn" onclick="broadcastMessage();">送出訊息</button>
        <p class="request-error-msg broadcast-error-msg"></p>
        <p class="request-success-msg broadcast-success-msg"></p>
    </div>
    <div class="text-center receive-broadcast-div">
        <img src="../icon/close.png" class="close-img" onclick="addFriend('close');">
        <img class="receive-broadcast-pic">
        <span class="receive-broadcast-name"></span>
        <div class="receive-broadcast-msg"></div>
        <button class="btn btn-primary" id="response-broadcast-btn" onclick="messageFriend(this)">回覆</button>
    </div>
    <div id="navbar">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg navbar-dark">
                <a class="navbar-brand" href="/map">Friend Zone</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" onclick="logout();">登出</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link dropdown-toggle" id="informCollapse">通知</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" onclick="addFriend('open');">新增好友</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" onclick="goChatroom();">訊息</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" onclick="openMemberData();">會員資料</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link dropdown-toggle" id="friendCollapse">好友名單</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <div class="wrapper">
        <div id="mapid">
        </div>
        <nav id="friend-list">
            <div class="myself">
                <img src="../icon/user.png" class="myself-pic">
                <span class="myself-name"></span>
            </div>
            <div class="nofriend-msg">尚未有好友</div>
        </nav>
        <nav id="inform-list">
            <div class="myself-name mt-3 noinform-msg">沒有通知。</div>
        </nav>

        <span class="locationNow">
            <img src="../icon/compass.png" class="locationNow-img">
        </span>
        <span class="loudspeaker" onclick="openBroadcastWindow();">
            <img src="../icon/loudspeaker.png" class="locationNow-img">
        </span>
    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>
    <script src="https://cdn.socket.io/4.1.2/socket.io.min.js"
        integrity="sha384-toS6mmwu70G0fw54EGlWWeA4z3dyJ+dlXBtSURSKN4vyRFOcxd3Bzjj/AoOwY+Rg"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs/dist/tf.min.js"> </script>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/blazeface"></script>
    <script type="text/javascript" src="../js/member.js"></script>
    <script type="text/javascript" src="../js/map.js"></script>
</body>

</html>