/* map */

.wrapper{
    position: relative;
    height: calc(100vh - 55px);
    width: 100vw;
    overflow: hidden;
}

#mapid {
    height: calc(100vh - 55px);
    width: 100vw;
    z-index: 99;
    position: absolute;
}

.locationNow{
    position: absolute;
    z-index: 100;
    top: 80px;
    left: 6px;
    cursor: pointer;
}

.locationNow-img{
    width: 45px;
    height: 45px;
}

.loudspeaker{
    position: absolute;
    z-index: 100;
    top: 130px;
    left: 6px;
    cursor: pointer;
}

.map-icon{
    border-radius: 100%;
    object-fit: cover;
}

/* 廣播訊息 */
.broadcast-window{
    height: 285px;
    width: 280px;
    z-index: 1001;
    position: fixed;
    background-color: #115c70;
    left: 50%;
    top: 150px;
    transform: translateX(-50%);
    border-radius: 6px;
    display: none;
}

.broadcast-span{
    color: white;
}

#broadcast-meter-input{
    width: 57px;
    height: 30px;
    padding: 5px;
    display: inline;
    background-color: rgb(241, 241, 228);
}

.broadcast-msg-input{
    font-size: 16px;
    width: 240px;
    height: 85px;
    resize: none;
    background-color: rgb(241, 241, 228);
    border: none;
    padding: 8px;
    border-radius: 5px;
}

#broadcast-msg-btn{
    margin-top: 15px;
}

.receive-broadcast-div{
    position: fixed;
    z-index: 1010;
    height: 280px;
    width: 280px;
    background-color: #115c70;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 6px;
    padding: 15px;
    display: none;
}

.receive-broadcast-div>.close-img{
    right: 8px;
    top: 8px;
}

.receive-broadcast-pic{
    height: 50px;
    width: 50px;
    border-radius: 100%;
    object-fit: cover;
}

.receive-broadcast-name{
    font-size: 20px;
    color: white;
    display: inline-block;
    word-break: break-all;
}

.receive-broadcast-msg{
    background-color: rgb(241, 241, 228);
    color: #7f4f24;
    font-size: 18px;
    word-break: break-all;
    border-radius: 3px;
    padding: 5px;
    height: 90px;
    overflow: scroll;
    margin: 3px 0 12px 0;
    white-space: pre-line;
}

/* friend list */

#friend-list{
    width: 300px;
    height: calc(100vh - 55px);
    z-index: 101;
    position: absolute;
    right: 0;
    background-color: #e6d7b5;
    transition: all 0.3s;
    overflow: scroll;
}

#friend-list.active {
    right: -300px;
}

.myself{
    padding: 15px 20px;
    background-color: #7f4f24;
}

.myself-pic{
    height: 50px;
    width: 50px;
    border-radius: 100%;
    margin-right: 5px;
    object-fit: cover;
}

.myself-name{
    color: white;
    font-size: 20px;
    vertical-align: middle;
    width: 150px;
    display: inline-block;
    word-break: break-all;
}

.nofriend-msg{
    color: #7f4f24;
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
    display: none;
}

.friends{
    padding: 6px 10px 6px 20px;
}

.friend-pic{
    height: 50px;
    width: 50px;
    border-radius: 100%;
    margin-right: 5px;
    object-fit: cover;
}

.friend-name{
    font-size: 20px;
    color: #7f4f24;
    vertical-align: middle;
    width: 140px;
    display: inline-block;
    word-break: break-all;
}

.message-img{
    margin-top: 5px;
    height: 30px;
    width: 32px;
    vertical-align: top;
    cursor: pointer;
}

.call-img{
    height: 40px;
    width: 36px;
    margin-left: 5px;
    vertical-align: top;
    cursor: pointer;
}

@media (max-width: 768px) {
    #friend-list {
        right: -300px;
    }

    #friend-list.active {
        right: 0;
    }
}

/* add friend pop-up window */
.shadow{
    position: fixed;
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: 0.25;
    z-index: 1000;
    display: none;
}

#addFriendWindow{
    height: 195px;
    width: 280px;
    z-index: 1001;
    position: fixed;
    background-color: #115c70;
    left: 50%;
    top: 150px;
    transform: translateX(-50%);
    border-radius: 6px;
    display: none;
}

.window-header{
    font-size: 18px;
    color: white;
    padding: 15px 0;
    margin-bottom: 0;
    position: relative;
}

.close-img{
    height: 20px;
    position: absolute;
    right: -10px;
    top: 6px;
    cursor: pointer;
}

#friend-request-btn{
    margin-top: 20px;
}

.request-error-msg{
    font-size: 16px;
    padding: 5px 0;
    color: rgb(212, 136, 136);
    display: none;
}

.request-success-msg{
    font-size: 16px;
    padding: 5px 0;
    color: rgb(106, 172, 155);
    display: none;
}

/* video call */
.incoming-call-div{
    position: fixed;
    z-index: 1010;
    height: 200px;
    width: 280px;
    background-color: #115c70;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 6px;
    padding: 15px;
    display: none;
}

.incoming-friend-pic{
    height: 50px;
    width: 50px;
    border-radius: 100%;
    object-fit: cover;
}

.incoming-friend-name{
    font-size: 20px;
    color: white;
    display: inline-block;
    word-break: break-all;
}

.incoming-call-img{
    width: 55px;
    height: 55px;
    margin: 5px 10px;
    cursor: pointer;
}

.call-div{
    position: fixed;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    z-index: 1002;
    display: none;
}

#myVideo{
    max-width: 20%;
    max-height: 20%;
    position: absolute;
    border-radius: 5px;
    margin: 10px 5px;
    transform: scaleX(-1);
    z-index: 1005;
}

#myCvs{
    max-width: 20%;
    max-height: 20%;
    position: absolute;
    border-radius: 5px;
    margin: 10px 5px;
    transform: scaleX(-1);
    z-index: 1006;
    display: none;
}

#remoteVideo{
    width: 100%;
    height: 100%;
    background-color: black;
    border-radius: 5px;
    position: absolute;
    z-index: 1003;
}

#remoteCvs{
    width: 100%;
    height: 100%;
    background-color: black;
    border-radius: 5px;
    position: absolute;
    z-index: 1004;
    display: none;
    object-fit: contain;
}

.call-control-div{
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1005;
}

.call-control-img{
    width: 50px;
    height: 50px;
    margin: 0 5px;
    cursor: pointer;
}

.end-call-hint{
    position: fixed;
    z-index: 1001;
    height: 65px;
    width: 280px;
    background-color: #115c70;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 6px;
    display: none;
}

@media (max-width: 768px) {
    #myVideo {
        max-width: 30%;
    }
    #myCvs{
        max-width: 30%;
    }
    .call-control-img{
        width: 40px;
        height: 40px;
        margin: 0px 2px;
    }    
}

@media (max-width: 480px) {
    .call-control-img{
        width: 30px;
        height: 30px;
        margin: 0px 1px;
    }    
}

/* 會員頁面 */
.member-data{
    height: 390px;
    width: 290px;
    z-index: 1001;
    position: fixed;
    background-color: #115c70;
    left: 50%;
    top: 150px;
    transform: translateX(-50%);
    border-radius: 6px;
    display: none;
}

.member-data-pic{
    height: 90px;
    width: 90px;
    border-radius: 100%;
    margin-right: 5px;
    object-fit: cover;
}

#memberDataPicLabel{
    padding: 3px;
    width: 90px;
    margin-top: 7px;
}

#memberDataPicInput{
    width: 0px;
    height: 0px;
    overflow: hidden;
}

.member-data-name{
    color: white;
    font-size: 18px;
    margin: 5px 0;
    word-break: break-all;
}

#change-name-btn{
    margin-top: 20px;
}
    
/* 通知欄 */
#inform-list{
    width: 300px;
    height: 450px;
    z-index: 101;
    position: absolute;
    background-color: #E6D7B0;
    transition: all 0.3s;
    overflow: scroll;
    right: 300px;
    top: -450px;
    opacity: 0.9;
}

#inform-list.active {
    top: 0px;
}

.noinform-msg{
    width: 300px;
    text-align: center;
    display: none;
}

.informs{
    padding: 3px 10px;
}

.inform-pic{
    height: 40px;
    width: 40px;
    border-radius: 100%;
    margin-right: 5px;
    object-fit: cover;
}

.inform-msg{
    font-size: 18px;
    color: #7f4f24;
    vertical-align: middle;
    width: 235px;
    display: inline-block;
    word-break: break-all;
}

.inform-request-btn{
    width: 30px;
    margin: 3px;
    cursor: pointer;
}

@media (max-width: 768px) {
    #inform-list {
        left: 0;
    }
}
