body{
    background-color:#EED595;
}
#navbar{
    background-color: #45a4c9;
}
.navbar-dark .navbar-brand {
    color:#EED595;
    font-size: 21px;
    font-weight: bold;
}

.navbar-dark .navbar-nav .nav-link {
    color:#EED595;
    font-size: 18px;
    cursor: pointer;
}

.navbar-dark .navbar-toggler {
    border-color: rgba(255,255,255,0.4);
}

section{
    margin-top: 65px;
}

#start{
    margin-top: 0;
}

.start-pic{
    width: 100%;
    height: 350px;
    object-position: top;
    object-fit: cover;
    margin-bottom: 10px;
}

#start h1{
    color: #7f4f24;
}

#start p,span{
    font-weight: 400;
    color: #96673e;
}

#registerForm{
    display: none;
}

.previewPic{
    height: 100px;
    width: 100px;
    border-radius: 100%;
    object-fit: cover;
}

#uploadPicLabel{
    padding: 5px;
    width: 80px;
}

#uploadPicInput{
    width: 0px;
    height: 0px;
    overflow: hidden;
}

.brown-link{
    color: #96673e;
    cursor: pointer;
}

.btn-primary{
    background-color: #45a4c9;
    border-color: #45a4c9;
    margin-bottom: 5px;
}

#start .error-msg{
    color: rgb(173, 31, 31);
    margin-top: 5px;
    display: none;
}

#start .success-msg{
    color: rgb(24, 136, 108);
    margin-top: 5px;
    display: none;
}

.google-login-btn{
    display: block;
    background-color: #212529;
    width: 170px;
    margin: 15px auto;
}

.google-img{
    height: 25px;
    padding-right: 8px;
}

.google-span{
    font-size: 18px;
    color: rgb(200, 200, 200);
}

#intro img{
    width: 100%;
}

#intro p{
    font-size: 24px;
    color: #7f4f24;
}

#intro .row{
    padding: 50px 0;
}

#footer{
    background-color: #5d6468;
    height: 80px;
}

#footer h5{
    line-height: 80px;
    color:#EED595;
}

